body {
  background-image: url("img/rplB.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  /* untuk membuat css bg tidak diulang kebawah menggunakan background-repeat: no-repeat */
}

.h1 {
  text-align: center;
}

.p {
  text-align: center;
}
